#RS{
    font-family: 'Roboto Condensed', sans-serif;
}

.bor1{
    border-radius: 10px; 
    box-shadow: 10px 10px 10px #3882f188;
}

.bor2{
    border-radius: 10px; 
    box-shadow: 10px 10px 10px #6dc15a69;
}

.bor3{
    border-radius: 10px;
    box-shadow: 10px 10px 10px #e2e26688;
}

